@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

body {
  /* Layout Properties */
  font-family: 'Ubuntu';
  font-weight: bold;
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 768px;
  /* UI Properties */
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  /* Layout Properties */
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 70px;
  /* UI Properties */
  background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
  background: rgba(46, 204, 113, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logo {
  margin: 15px 0 0 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: -600px;
}

.search-bar input {
  top: 16px;
  left: 242px;
  width: 326px;
  height: 39px;
  /* UI Properties */
  background: #a7e6c1;
  border-radius: 25px;
  color: #ffffff;
  border: none;
}

.search-input::placeholder {
  color: #ffffff;
  padding-left: 3rem;
}

.search-icon {
  position: absolute;
  padding-left: 1rem;
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.remove-user-icon {
  width: 13px;
  height: 13px;
}

.signout-button {
  margin-right: 15px;
  background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
  background: rgba(46, 204, 113, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  color: #ffffff;
}

.signout-button:hover {
  background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
  background: rgba(46, 204, 113, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  color: #45a049;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.create-btn {
  margin: 10px 0 10px 10px;
  /* Layout Properties */
  top: 85px;
  left: 19px;
  width: 122px;
  height: 50px;
  /* UI Properties */
  background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
  background: rgba(46, 204, 113, 1) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  border: none;
  color: #ffffff;
}

.create-btn:hover {
  background: #a7e6c1;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  padding-left: 40px;
  text-align: left;
  box-sizing: border-box;
  margin: 0px 0px 5px 0px;
  width: 225px;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  background: #d5f5e3;
  color: #2fcc71;
  position: relative;
}

.sidebar nav ul li:hover {
  background: var(--unnamed-color-2ecc71) 0% 0% no-repeat padding-box;
  background: #2ecc71 0% 0% no-repeat padding-box;
  border-radius: 0px 20px 20px 0px;
  opacity: 1;
  color: white;
}

.sidebar nav ul li.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.sidebar nav ul li.active:hover {
  background-color: #45a049;
}

.sidebar nav ul li svg {
  margin-right: 0.5rem;
}

main {
  flex-grow: 1;
  padding: 1rem;
}
